# dependencies
/node_modules
npm-debug.log

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
*.log
*.lock
npm-debug.log*

# Android
android/.gradle/
android/app/build/
android/.idea
android/local.properties
android/.cxx/

# iOS
ios/Pods
ios/build
ios/DerivedData

# VSCode
.vscode

# macOS
*.DS_Store

# Expo
.expo/
.expo-shared/
node_modules/

# Xcode
*.xcuserdata/
*.xcworkspace/
DerivedData/

# Fastlane
/vendor/

# NDK/CMake 관련
*.iml
.cxx/
.idea/

./android/app/.cxx/
./android/build/

# Gradle 캐시
.gradle/
build/

